<div class="viajes-container">
    <table>
        <tbody>
            <tr *ngFor="let viaje of resultado" class="viaje-card">
                <td>
                    <h4>#{{ viaje.idViaje }} {{ viaje.origen }} → {{ viaje.destino }}</h4>
                    <strong>Fecha:</strong> {{ viaje.fecha | date: 'shortDate' }}<br>
                    <strong>Hora:</strong> {{ viaje.hora }}<br>
                    <strong>Precio:</strong> {{ viaje.precio | currency:'EUR' }}
                </td>
                <td>
                    <strong>DNI:</strong> {{ viaje.dni }}<br>
                    <strong>Nombre Completo:</strong> {{ viaje.nombreCompleto }}<br>
                    <strong>Edad:</strong> {{ viaje.edad }}
                </td>
                <td>
                    <strong>Marca:</strong> {{ viaje.marca }}<br>
                    <strong>Modelo:</strong> {{ viaje.modelo }}<br>
                    <strong>Plazas Disponibles:</strong> {{ viaje.plazasDisponibles }}
                </td>
                <td>
                    <img [src]="viaje.fotoCoche" alt="Foto del coche" class="foto-coche">
                    <br>
                    <button (click)="detalle(viaje.idViaje)">Ver Detalles</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
