<!-- <div class="coche-asientos">
    <div class="fila-delantera">
      <button 
        *ngFor="let plazaId of resultadoCompleto.id_plaza.slice(0, 2)"
        [disabled]="isPlazaOcupada(plazaId)" 
        (click)="seleccionarPlaza(plazaId)"
        class="asiento"
      >
        {{ plazaId }} (Piloto)
      </button>
    </div>
    
    <div class="fila-delantera">
      <button 
        *ngFor="let plazaId of resultadoCompleto.id_plaza.slice(2, 3)"
        [disabled]="isPlazaOcupada(plazaId)" 
        (click)="seleccionarPlaza(plazaId)"
        class="asiento"
      >
        {{ plazaId }} (Copiloto)
      </button>
    </div>
    
    <div class="fila-trasera">
      <button 
        *ngFor="let plazaId of resultadoCompleto.id_plaza.slice(3, 5)"
        [disabled]="isPlazaOcupada(plazaId)" 
        (click)="seleccionarPlaza(plazaId)"
        class="asiento"
      >
        {{ plazaId }} (Asiento trasero)
      </button>
    </div>
  </div>
   -->
  