.tarjeta-completa {
  width: 100%; /* Ocupar todo el ancho de la pantalla */
  height: 50vh; /* Ocupar todo el alto de la pantalla */
  border-collapse: collapse; /* Para fusionar los bordes */
  background-color: #fff; /* Color de fondo blanco */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.tarjeta-completa td {
  padding: 16px; /* Espaciado interno */
  vertical-align: top; /* Alinear el contenido en la parte superior */
}

.foto-coche, .foto-usuario {
  max-width: 100%; /* Asegurarse de que la imagen no exceda el ancho de la celda */
  border-radius: 4px; /* Bordes redondeados */
}

.informacion-viaje,
.informacion-usuario,
.informacion-coche {
  font-size: 1.1em; /* Tamaño de fuente aumentado para mayor legibilidad */
}

.informacion-viaje h3 {
  margin: 0 0 10px; /* Margen inferior para el encabezado */
}

.informacion-coche {
  border-left: 1px solid #ccc; /* Línea divisoria a la izquierda */
  padding-left: 16px; /* Espaciado interno a la izquierda */
}
