<table class="tarjeta-completa">
  <tr>
      <td class="foto-coche">
          <img [src]="resultadoCompleto.fotoCoche" alt="Foto del Coche" class="foto-coche">
      </td>
      <td class="informacion-viaje">
          <h3>#{{ resultadoCompleto.idViaje }}</h3>
          <strong>Origen:</strong> {{ resultadoCompleto.origen }}<br>
          <strong>Destino:</strong> {{ resultadoCompleto.destino }}<br>
          <strong>Fecha:</strong> {{ resultadoCompleto.fecha | date: 'shortDate' }}<br>
          <strong>Hora:</strong> {{ resultadoCompleto.hora }}<br>
          <strong>Precio:</strong> {{ resultadoCompleto.precio | currency:'EUR' }}
      </td>
      <td class="informacion-usuario">
          <strong>DNI:</strong> {{ resultadoCompleto.dni }}<br>
          <strong>Nombre Completo:</strong> {{ resultadoCompleto.nombreCompleto }}<br>
          <strong>Teléfono:</strong> {{ resultadoCompleto.telefono }}<br>
          <strong>Género:</strong> {{ resultadoCompleto.genero }}<br>
          <strong>Edad:</strong> {{ resultadoCompleto.edad }}
      </td>
      <td class="informacion-coche">
          <strong>Marca:</strong> {{ resultadoCompleto.marca }}<br>
          <strong>Modelo:</strong> {{ resultadoCompleto.modelo }}<br>
          <strong>Matrícula:</strong> {{ resultadoCompleto.matricula }}<br>
          <strong>Carrocería:</strong> {{ resultadoCompleto.carroceria }}<br>
          <strong>Año:</strong> {{ resultadoCompleto.anio }}<br>
          <strong>Plazas Disponibles:</strong> {{ resultadoCompleto.plazasDisponibles }}
      </td>
      <td class="foto-usuario">
          <img [src]="resultadoCompleto.fotoUsuario" alt="Foto del Usuario" class="foto-usuario">
      </td>
  </tr>
</table>


    <!-- <div class="coche-esquema">
        <div class="asientos">
            <div *ngFor="let asiento of asientosDisponibles" 
                 [class.disponible]="asiento.disponible"
                 [class.seleccionado]="asiento.seleccionado"
                 (click)="seleccionarAsiento(asiento)">
                Asiento {{asiento.numero}}
            </div>
        </div>
    </div> -->
    
    

  
  