<div class="tarjeta-completa">
    <h2>Detalles del Viaje</h2>
    <div class="informacion-viaje">
      <h3>#{{ resultadoCompleto.idViaje }}</h3>
      <p><strong>Origen:</strong> {{ resultadoCompleto.origen }}</p>
      <p><strong>Destino:</strong> {{ resultadoCompleto.destino }}</p>
      <p><strong>Fecha:</strong> {{ resultadoCompleto.fecha | date: 'shortDate' }}</p>
      <p><strong>Hora:</strong> {{ resultadoCompleto.hora }}</p>
      <p><strong>Precio:</strong> {{ resultadoCompleto.precio | currency:'EUR' }}</p>
      <p><strong>Plazas Disponibles:</strong> {{ resultadoCompleto.plazasDisponibles }}</p>
    </div>
  
    <div class="informacion-usuario">
      <h4>Datos del Usuario</h4>
      <img [src]="resultadoCompleto.fotoUsuario" alt="Foto del Usuario" class="foto-usuario">
      <p><strong>DNI:</strong> {{ resultadoCompleto.dni }}</p>
      <p><strong>Nombre Completo:</strong> {{ resultadoCompleto.nombreCompleto }}</p>
      <p><strong>Teléfono:</strong> {{ resultadoCompleto.telefono }}</p>
      <p><strong>Género:</strong> {{ resultadoCompleto.genero }}</p>
      <p><strong>Edad:</strong> {{ resultadoCompleto.edad }}</p>
    </div>
  
    <div class="informacion-coche">
      <h4>Datos del Coche</h4>
      <img [src]="resultadoCompleto.fotoCoche" alt="Foto del Coche" class="foto-coche">
      <p><strong>Marca:</strong> {{ resultadoCompleto.marca }}</p>
      <p><strong>Modelo:</strong> {{ resultadoCompleto.modelo }}</p>
      <p><strong>Matrícula:</strong> {{ resultadoCompleto.matricula }}</p>
      <p><strong>Carrocería:</strong> {{ resultadoCompleto.carroceria }}</p>
      <p><strong>Año:</strong> {{ resultadoCompleto.anio }}</p>
      <p><strong>Asientos:</strong> {{ resultadoCompleto.asientos.length }}</p>
    </div>

    <!-- <div class="coche-esquema">
        <div class="asientos">
            <div *ngFor="let asiento of asientosDisponibles" 
                 [class.disponible]="asiento.disponible"
                 [class.seleccionado]="asiento.seleccionado"
                 (click)="seleccionarAsiento(asiento)">
                Asiento {{asiento.numero}}
            </div>
        </div>
    </div> -->
    
    

  </div>
  