<div class="contenedor">
    <div class="logo">
        <a routerLink="">
            <img src="https://img.freepik.com/vector-premium/logotipo-diseno-automovil-simple_709115-477.jpg?w=740" alt="logo">
        </a>
        
    </div>
    <div class="navegacion">
        <button class="btn-buscar" routerLink="/buscador" >BUSCAR</button>
        <button class="btn-publicar" routerLink="/publicar">PUBLICAR VIAJE</button>
        <div class="perfil">
            <a routerLink="/login">
                <img 
                 src="https://img.freepik.com/vector-premium/icono-perfil-avatar-predeterminado-imagen-usuario-redes-sociales-icono-avatar-gris-silueta-perfil-blanco-ilustracion-vectorial_561158-3383.jpg?w=826" 
                 alt="perfil">    
            </a>
            <a routerLink="/login">LOGIN</a>
            <a routerLink="/registro">REGISTRARSE</a>
        </div>
    </div>
</div>