* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 600px; /* Ancho máximo de la imagen */
    height: 100px; /* Altura fija para recortar la imagen */
    object-fit: cover; /* Cubre el área del contenedor sin distorsionar la imagen */
    object-position: center; /* Centra la imagen en el contenedor */
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-buscar, .btn-publicar {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-buscar:hover, .btn-publicar:hover {
    background-color: #0056b3;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.perfil a {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.perfil a:hover {
    color: #0056b3;
}
