<h1>Formulario Interactivo</h1>

<div>
    <label >Origen: </label>
    <input type="text" placeholder="Origen" [(ngModel)]="origen">

    <label>Destino: </label>
    <input type="text" placeholder="Destino" [(ngModel)]="destino">
    
    <label>Fecha Inicio:
    <input type="date" class="date" [(ngModel)]="fInicio">
    </label>
    <label>Fecha Fin:</label>
    <input type="date" class="date" [(ngModel)]="fFin" [min]="fInicio">

    <label>Numero de pasajeros: </label>
    <select [(ngModel)]="pDisponibles">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <button (click)="buscar()">Buscar</button>
</div>
<!-- <app-busqueda-inicial [resultado]="busquedaInicial"></app-busqueda-inicial> -->
<router-outlet></router-outlet>
  
  

